body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background: #EDC7C6
}

header {
    width: 100%;
    padding: 20px;
    border: 2px solid #EDC7C6;
    color: #EDC7C6;
    background: #FFFFFF

}

.content {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}